REMOTE_STORAGE_PATH="00.00.00.00:/storagepath"
REMOTE_STORAGE_TYPE="nfs"
REMOTE_STORAGE_OPTIONS=""
OBNAM_REPO_NAME="obnam"

LOCAL_STORAGE_MOUNT="/mnt/storage"
LOCAL_BACKUP_MOUNT="/mnt/backup"
LOCAL_EXPORT_FOLDER="/backup"

ENABLE_MYSQL_BACKUP=true
ENABLE_PACKAGES_BACKUP=true

MYSQL_USER="debian-sys-maint"
MYSQL_PASS="xxxxxxxxx"

BACKUP_KEEP_TIME="30d"

FOLDERS_TO_BACKUP="\
/first/folder
/second/folder
"

FOLDERS_TO_EXCLUDE="\
/first/folder
/second/folder
"
